<nav class="admin-navbar btn-toolbar justify-content-center py-2" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-4" role="group">
    <a href="{{ path('admin_homepage') }}">
      <button type="button" class="btn btn-primary">Admin</button>
    </a>
  </div>
  <div class="btn-group mr-2" role="group">
    <a href="{{ path('admin_user_index') }}">
      <button type="button" class="btn btn-secondary">User</button>
    </a>
  </div>
  <div class="btn-group mr-2" role="group">
    <a href="{{ path('admin_role_index') }}">
      <button type="button" class="btn btn-secondary">Role</button>
    </a>
  </div>
  <div class="btn-group mr-2" role="group">
    <a href="{{ path('admin_question_index') }}">
      <button type="button" class="btn btn-secondary">Question</button>
    </a>
  </div>
  <div class="btn-group mr-2" role="group">
    <a href="{{ path('admin_answer_index') }}">
      <button type="button" class="btn btn-secondary">Answer</button>
    </a>
  </div>
  <div class="btn-group" role="group">
    <a href="{{ path('admin_tag_index') }}">
      <button type="button" class="btn btn-secondary">Tag</button>
    </a>
  </div>
</nav>
