{% extends 'base.html.twig' %}

{% block title %}Questions list [admin]{% endblock %}

{% block body %}
    <h1 class="font-weight-bold text-center bg-dark text-white rounded mb-3 py-2">Questions list</h1>

    <div class="col-12 text-center">
          <a href="{{ path('admin_question_new') }}" class="btn btn-success">Create a new question</a>
        </div>
        <hr>
    <table class="table table-striped table-hover text-center">
        <thead class="bg-secondary text-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col">Createdat</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('admin_question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.title }}</td>
                <td>{{ question.body }}</td>
                <td>{% if question.createdAt %}{{ question.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>                      <div>
                          <a href="{{ path('admin_question_show', { 'id': question.id }) }}" title="show">                            <span class="badge badge-primary"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></span>                          </a>
                      </div>                      <div>
                          <a href="{{ path('admin_question_edit', { 'id': question.id }) }}" title="edit">                            <span class="badge badge-warning"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></span>                          </a>
                      </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
